:root{
--primary-color: #FF99C8;
--secondary-color: #FCF6BD;
--accent1-color: #D0F4DE;
--accent2-color: #A9DEF9;
}
body{
background-color: var(--primary-color);
}
h1, h2, a{
font-family: Tektur;
}
a{
text-decoration: none;
}
p{
font-style: italic;
}
header{
display: grid;
grid-template-columns: 40% 1fr;
border-bottom: 3px solid white;
align-items: center;
max-width: 100%;
}
.navigation{
display: flex;
flex-wrap: wrap;
list-style: none;
padding: 0;
}
.navigation li {
text-align: center;
margin-left: 2rem;
}
.navigation a {
display: block;
color: white;
padding: 20px;
font-weight: bolder;
text-transform: uppercase;
border: 2px solid white;
border-radius: 10%;
background-color: var(--accent2-color);
}s
.hero{
background-image: url("../images/wwrbanner.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 800px;
}
.hero h1{
text-align: center;
color:white;
padding: 30px;
}
article{
	margin: 1em auto;
	border: 1px solid rgb(0 0 0 / 0.1);
	padding: 1em;
	background-color: var(--secondary-color);
	width: min(800px, 100%);
	font-size: 1.2rem;
    border-radius: 3%;
}

article img{
float: right;
width: 300px;
height: 200px;
border-radius: 50%  0 50% 50%;
padding: 4%;
}
article p{
margin-left: 2%;
text-align: center;
padding: 8%;
}
section{
margin-left: 10%;
margin-right: 10%;
}
section img{
border-radius: 10%;
border: 3px solid var(--secondary-color);
height: auto;
}
section h2{
background-color: white;
color: var(--primary-color);
border-radius: 20%;
text-align: center;
}
#colbox{
display: flex;
}
#colbox img{
margin: 1rem;
max-width: 19%;
}
figure img{
width: 50%;
}
figcaption{
margin-left: 3rem;
color: blue;
}
/*##############################*/
footer{
display: flex;
flex-direction: column;
background-color: var(--accent1-color);
height: 50px;
font-weight: bold;
font-family: Tektur;
border-top: 3px solid black;
border-bottom: 3px solid black;
}
footer p{
width: 100%;
text-align: center;
margin-bottom: -0.5rem;
}
footer img{
width: 2%;
float: right;
margin-top: -1rem;
margin-right: .5rem;
}
footer nav{
margin-right: 2rem;
}