:root{
--primary-color: #0081A7;
--secondary-color: #00AFB9;
--accent1-color: #FDFCDC;
--accent2-color: #F07167;
}
*{
margin: 0;
}
p{
font-style: italic;
font-weight: bold;
}
a{
text-decoration: none;
}
h1, h2{
font-family: Tektur;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
background-image: linear-gradient(to right,white,white,var(--primary-color),var(--primary-color),var(--primary-color))
}
ul{
display: flex;
list-style: none;
margin-right: 5rem;
}
ul a{
margin-right: .5rem;
padding: 15px;
border: 3px solid black;
text-transform: uppercase;
border-radius: .5rem;
background-color: white;
color: var(--primary-color);
font-weight: bolder;
font-family: Tektur;
}
ul a:hover{
background-image: linear-gradient(to right, var(--secondary-color),var(--accent2-color));
color: white;
border: 3px solid white;
}
.hero{
display: grid;
background: url(../images/wwrbanner.jpg) no-repeat;
background-size: cover;
height: 650px;
margin: 5px;
border: 3px solid black;
}
h1{
text-align: center;
color: var(--accent2-color);
font-size: 60px;
text-shadow: 5px 5px 5px white;
}
article{
background-color: var(--accent1-color);
height: 300px;
margin: 15% 5% 0 5%;
border-radius: 20px;
padding: 15px;
border: 2px solid black;
}
article img{
width: 250px;
margin-left: 1rem;
float: right;
border-radius: 50% 0 50% 50%;
}
section img{
border: 1px solid black;
padding: .1rem;
}
.crbox{
display: flex;
padding: 15px;
}
.crbox img{
margin: 1rem 3rem 0 3rem;
width: 350px;
max-height: 300px;
}
.crbox1{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.crbox1 img{
width: 200px;
height: 120px;
box-shadow: 0 0 15px var(--secondary-color);
}
h2{
text-align: center;
font-size: 40px;
padding: 30px;
color: var(--secondary-color);
text-shadow: 4px 4px 4px var(--accent2-color);
}
figcaption{
text-align: center;
font-style: italic;
font-weight: bold;
}
footer{
display: flex;
flex-direction: row; 
justify-content: space-around;
border-top: 3px solid black;
padding: 10px;
background-color: var(--primary-color);
margin-top: 1rem;
box-shadow: 0 0 20px 0 var(--accent2-color);
}
footer p{
font-family: Tektur;
font-weight: bolder;
align-content: center;
color: white;
}
footer img{
width: 30px;
margin: .5rem 0 0 1rem;
background-color: white;
padding: 5px;
border-radius: 5px;
border: 2px solid black;
}
footer img:hover{
background-color: greenyellow;
border: 2px solid white;   
}