*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
    --heading-bg-color: navy;
    --heading-text-color: rgb(225, 250, 6);
    --heading-font: helvetica, sans-serif;
}
nav{
background-color: var(--heading-bg-color);
padding: 10px;
border: 3px solid black;
}
nav a{
color: white;
display: block;
padding: 20px;
}
h1{
color: var(--heading-bg-color);
margin: 0 0 1rem 0;
}
img{
width: 150px;
height: auto;
padding: 2px;
border: 1px solid black;
box-shadow: 0 0 30px grey;
}
main{
max-width: 1150px;
}
main p{
margin-left: .5rem;
}
aside{
width: 400px;
background-color:var(--heading-bg-color);
color: white;
}
aside img{
width: 200px;
height: auto;
float: right;
margin-left: 1rem;
}
main img{
width: 200px;
height: auto;
float: right;
margin-left: 1rem;
}
p{
padding: 0;
margin: .5rem;
}
aside h2{
position: absolute;
top: 780px;
left: 260px;
color: black;
font-family: var(--heading-font);
}
footer{
text-align: center;
background-color: green;
color: white;
border: 3px solid black;
}
ul{
background-color: green;
}
/* Class Selectors */
.box{
margin: 1rem;
border: 3px solid black;
padding: 1rem;
}